
<!--[if lt IE 9]>
    <html class="lt-ie9">
      <div style="clear: both; text-align:center; position: relative;"><a href="http://windows.microsoft.com/en-US/internet-explorer/.."><img src="/frontend/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    </html>
<![endif]-->

<div class="page">
  <main>
    <section class="well">
      <div class="container center">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div data-equal-group="1" class="wr bg-default">
              <h5>Entry level</h5>
              <div class="img_wr"><img src="/assets/frontend/page-1_img01.png" alt=""></div>
              <p>Just starting out? There's no need to worry about inexperience. We can find your best attributes while displaying your unlimited potential.</p>
              <hr><a href="#" class="fa-arrow-circle-o-right"></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div data-equal-group="1" class="wr bg-default">
              <h5>Professional</h5>
              <div class="img_wr"><img src="/assets/frontend/page-1_img02.png" alt=""></div>
              <p>This type of resume is best for those who are already established in a particular field or have an impressive history to back-up a job change.</p>
              <hr><a href="#" class="fa-arrow-circle-o-right"></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div data-equal-group="1" class="wr bg-default">
              <h5>Executive</h5>
              <div class="img_wr"><img src="/assets/frontend/page-1_img03.png" alt=""></div>
              <p>With this resume your career accomplishments will be emphasized while highlighting your experience as an executive level professional.</p>
              <hr><a href="#" class="fa-arrow-circle-o-right"></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div data-equal-group="1" class="wr bg-default">
              <h5>Career Change</h5>
              <div class="img_wr"><img src="/assets/frontend/page-1_img04.png" alt=""></div>
              <p>Our expert writers will help you to identify your transferable skills and qualifications so you can start your new career today.We can find your best attributes</p>
              <hr><a href="#" class="fa-arrow-circle-o-right"></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="well2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5 wow fadeInLeft">
            <h3>Resume writing services</h3>
            <h6>Nam libero tempore, cum soluta nobiesteligendi optio cumque nihil impeditquo minus id quod maxime</h6>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dictasunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p><a href="#" class="btn">read more</a>
          </div>
          <div class="col-sm-offset-1 col-md-offset-1 col-xs-12 col-sm-5 col-md-5 wow fadeInRight">
            <h3>Interviews <br/> guaranteed</h3>
            <h6>Wempore, cum soluta nobiesteligendiptio cumque nihil impeditquo minus id quod maxime placeat.</h6>
            <p>Unde omnis iste natus error sit voluptateaccusantiuoloreaudantium,totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architectoeatae vitae dictasunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatemsequi nesciunt.</p><a href="#" class="btn">read more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="well well__ins1">
      <div class="container center">
        <div class="bg-secondary">
          <h4>Free job hunting advice <br/> from our resume experts</h4>
          <div class="owl-carousel">
            <div class="item">
              <blockquote>
                <p>
                  <q> “ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia dolore cons.”</q>
                </p>
                <h6 class="primary-color">
                  <cite>Sam Kromstain (CV consultant)</cite>
                </h6><a href="#" class="btn">click for details</a>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>
                  <q> “ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia dolore cons.”</q>
                </p>
                <h6 class="primary-color">
                  <cite>Wayne Rooney (CV consultant)</cite>
                </h6><a href="#" class="btn">click for details</a>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>
                  <q> “ Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia dolore cons.”</q>
                </p>
                <h6 class="primary-color">
                  <cite>Juan Matta (CV consultant)</cite>
                </h6><a href="#" class="btn">click for details</a>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="well3">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <h3 class="secondary-color offset">Professional CV <br/> Writing Service</h3>
            <p class="big secondary-color">Many people feel dissatisfied with their current jobs, but there is <br/> no need to live with it day after day. You can make a change in your career!</p><a href="#" class="btn">read more</a>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2">
            <ul class="marked-list">
              <li><a href="#">Lorem ipsum</a></li>
              <li><a href="#">Dolor sit amet</a></li>
              <li><a href="#">Consectetur adipis</a></li>
              <li><a href="#">Sed do eiusmod</a></li>
              <li><a href="#">Wempor incididunt</a></li>
              <li><a href="#">Aut labore</a></li>
              <li><a href="#">Et dolore magna</a></li>
              <li><a href="#">Et enim ad minim</a></li>
              <li><a href="#">Seniam quis nostrud</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2">
            <ul class="marked-list">
              <li><a href="#">Epsum dolor sit amet</a></li>
              <li><a href="#">Consectetur adipisicing</a></li>
              <li><a href="#">Sed do eiusmod tempor</a></li>
              <li><a href="#">Encididunt ut labore</a></li>
              <li><a href="#">Dolore magna aliqua</a></li>
              <li><a href="#">Ut enim ad minim</a></li>
              <li><a href="#">Eniam quis nostrud</a></li>
              <li><a href="#">Exercitation ullamco</a></li>
              <li><a href="#">Laboris nisi ut aliquip</a></li>
            </ul>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2">
            <ul class="marked-list">
              <li><a href="#">Dorem ipsum</a></li>
              <li><a href="#">Folor sit amet</a></li>
              <li><a href="#">Ansectetur adipis</a></li>
              <li><a href="#">Sed do eiusmod</a></li>
              <li><a href="#">Empor incididunt</a></li>
              <li><a href="#">Out labore</a></li>
              <li><a href="#">Et dolore magna</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="well4">
      <div class="container center">
        <div data-url="/assets/frontend/parallax1.jpg" data-mobile="true" data-speed="1" class="parallax parallax1">
          <div class="row">
            <div data-wow-delay="0.1s" class="col-xs-6 col-sm-3 col-md-3 wow fadeIn">
              <div class="fa-wr">
                <div class="fa fa-map-marker"></div>
              </div>
              <address>New York 9870 St Vincent</address>
            </div>
            <div data-wow-delay="0.3s" class="col-xs-6 col-sm-3 col-md-3 wow fadeIn">
              <div class="fa-wr">
                <div class="fa fa-envelope-o"></div>
              </div><a href="mailto:x">contact@demolink.org</a>
            </div>
            <div data-wow-delay="0.5s" class="col-xs-6 col-sm-3 col-md-3 wow fadeIn">
              <div class="fa-wr">
                <div class="fa fa-phone"></div>
              </div>
              <dl>
                <dt>Telephone:</dt>
                <dd><a href="callto:x">+1 800 603 6035</a></dd>
              </dl>
            </div>
            <div data-wow-delay="0.7s" class="col-xs-6 col-sm-3 col-md-3 wow fadeIn">
              <div class="fa-wr">
                <div class="fa fa-fax"></div>
              </div>
              <dl>
                <dt>FAX:</dt>
                <dd><a href="callto:x">+1 800 889 9898</a></dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="well5 bg-default">
      <div class="container center">
        <ul class="flex-list">
          <li><a href="#"><img src="/assets/frontend/page-1_img05.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/frontend/page-1_img06.jpg" alt=""></a></li>
          <li><a href="#"><img src="/assets/frontend/page-1_img07.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/frontend/page-1_img08.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/frontend/page-1_img09.png" alt=""></a></li>
          <li><a href="#"><img src="/assets/frontend/page-1_img10.png" alt=""></a></li>
        </ul>
      </div>
    </section>
  </main>
</div>
