<table>
<tr>
	<td>
		Hi <%=@name%>,
	</td>
</tr><tr>
	<td>
		Your accoutn has been created. Following are the details for your login
	</td>
</tr>
<tr>
<td><b>Email:</b></td> <td><%=@email%> </td>
</tr>
<tr>
<td><b>Password:</b></td> <td><%=@password%> </td>
</tr>
</table>