/* camera.scss
=========================================================*/
/*================   Custom Layout&Styles   =====================*/
.camera_caption {
  color: #fff;
}
.camera_caption .btn {
  color: #171717;
  background: #fff;
}
.camera_caption .btn:hover {
  background: #66BB6A;
}
.camera_caption .btn:active {
  background: #49a54e;
}

.camera_next:before, .camera_prev:before {
  color: #fff;
}
.camera_next:hover, .camera_prev:hover {
  background: #66BB6A;
}

/* google-map.scss
=========================================================*/
/* mailform.scss
=========================================================*/
@-ms-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-o-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-webkit-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@-moz-keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
@keyframes fout {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(0) translateX(0);
  }
}
/* Mail Form PlaceHolder
========================================================*/
.mfPlaceHolder {
  font: inherit;
  cursor: text;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 26px 15px;
  line-height: 18px;
  color: #959494;
  opacity: 1;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
*:-webkit-autofill ~ .mfPlaceHolder {
  opacity: .4;
  -moz-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  -o-transform: translateY(-80%);
  -webkit-transform: translateY(-80%);
  transform: translateY(-80%);
}
.mfPlaceHolder.state-1 {
  opacity: .4;
  -moz-transform: translateY(-80%);
  -ms-transform: translateY(-80%);
  -o-transform: translateY(-80%);
  -webkit-transform: translateY(-80%);
  transform: translateY(-80%);
}

/* Mail Form Validation
  ========================================================*/
.mfValidation {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim-fo 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: -25px;
  left: 35%;
  width: 210px;
  margin-top: -20px;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  background: #111;
  color: red;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 0;
}
.mfValidation:hover {
  background: #231634;
}
.mfValidation:before {
  content: '';
  position: absolute;
  right: 90%;
  top: 106%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #111 transparent transparent transparent;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.mfValidation.error {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -moz-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -ms-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
  animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
}
@media (max-width: 767px) {
  .mfValidation {
    text-align: right;
    top: 0;
    left: auto;
    bottom: 100%;
    right: 10px;
    background: none;
    padding: 0;
    margin: 0 0 3px;
    min-height: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .mfValidation:before {
    display: none;
  }
  .mfValidation:hover {
    background: none;
    right: 5px;
  }
}

@-ms-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-o-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-moz-keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@keyframes notifanim-fo {
  0% {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
  20% {
    opacity: 1;
    transform: scale(1.1);
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: scale(0.3);
    opacity: 0;
  }
}
@-ms-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes notifanim {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.3);
  }
  1% {
    visibility: visible;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* MF Controls
========================================================*/
.mfControls {
  margin-top: 40px;
  word-spacing: 10px;
  text-align: center;
  float: right;
}
.mfControls > * {
  word-spacing: normal;
  margin-bottom: 5px;
  padding: 13px 29px;
  font-family: "Droid Serif", serif;
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

/* Mail Form Submit
========================================================*/
.mfProgress {
  position: relative;
}
.mfProgress .cnt, .mfProgress .loader {
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.mfProgress .loader {
  opacity: 0;
  text-align: center;
  letter-spacing: 10px;
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.mfProgress .loader, .mfProgress .loader:before, .mfProgress .loader:after {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
}
.mfProgress .loader:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.mfProgress .loader:after {
  content: '';
  width: 30px;
  height: 30px;
  color: #fff;
  font: 400 30px "FontAwesome";
  line-height: inherit;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  -moz-transform: scale(0) rotate(-60deg);
  -ms-transform: scale(0) rotate(-60deg);
  -o-transform: scale(0) rotate(-60deg);
  -webkit-transform: scale(0) rotate(-60deg);
  transform: scale(0) rotate(-60deg);
}
.mfProgress.sending .cnt, .mfProgress.fail .cnt, .mfProgress.success .cnt {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
}
.mfProgress.sending .loader, .mfProgress.fail .loader, .mfProgress.success .loader {
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.mfProgress.fail .loader:before, .mfProgress.success .loader:before {
  -webkit-animation: fout 0.4s ease-in-out 1 forwards;
  -moz-animation: fout 0.4s ease-in-out 1 forwards;
  -ms-animation: fout 0.4s ease-in-out 1 forwards;
  -o-animation: fout 0.4s ease-in-out 1 forwards;
  animation: fout 0.4s ease-in-out 1 forwards;
}
.mfProgress.fail .loader:after, .mfProgress.success .loader:after {
  -moz-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}
.mfProgress.sending .loader:before {
  -webkit-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -moz-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -ms-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  -o-animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: motion 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.mfProgress.fail .loader:after {
  content: '\f06a';
}
.mfProgress.success .loader:after {
  content: '\f058';
}

.mfProgress .msg {
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-animation: notifanim-fo 0.4s ease-in-out forwards;
  -ms-animation: notifanim-fo 0.4s ease-in-out forwards;
  -o-animation: notifanim-fo 0.4s ease-in-out forwards;
  animation: notifanim-fo 0.4s ease-in-out forwards;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 10px;
  border-radius: none;
  font-size: 12px;
  line-height: 20px;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 50%;
  width: 200px;
  margin-left: -110px;
  margin-top: 20px;
  color: #fff;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.mfProgress .msg:before {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #111 transparent;
  -moz-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}
.mfProgress.fail .msg, .mfProgress.success .msg {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-animation: notifanim 0.4s ease-in-out forwards;
  -moz-animation: notifanim 0.4s ease-in-out forwards;
  -ms-animation: notifanim 0.4s ease-in-out forwards;
  -o-animation: notifanim 0.4s ease-in-out forwards;
  animation: notifanim 0.4s ease-in-out forwards;
}
.mfProgress.fail .msg {
  background: #F44336;
}
.mfProgress.fail .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #F44336 transparent;
}
.mfProgress.success .msg {
  background: #2E7D32;
}
.mfProgress.success .msg:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #2E7D32 transparent;
}

@-ms-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-o-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-webkit-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@-moz-keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
@keyframes motion {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-50px) scale(0.3);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(50px) scale(0.3);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
/* owl-carousel.scss
=========================================================*/
@-webkit-keyframes fadeOut {}
.owl-carousel {
  color: #fff;
}

.owl-dots .owl-dot {
  background: #fff;
}
.owl-dots .owl-dot:hover, .owl-dots .owl-dot.active {
  background: #66BB6A;
}

/* search.scss
=========================================================*/
.search-form_label {
  background: #66BB6A;
  color: #171717;
}
.search-form_submit:hover {
  color: #fff;
}

.search-form_toggle {
  color: #fff;
}
.search-form_toggle:after {
  background: #5d5d5d;
}
.search-form_toggle.active, .search-form_toggle:hover {
  color: #66BB6A;
}

.search-form_liveout .search_link .search_title {
  color: #171717;
}
.search-form_liveout .search_link:hover {
  background: #171717;
  color: #f3faf4;
}
.search-form_liveout .search_link:hover .search_title {
  color: #66BB6A;
}
.search-form_liveout .search_error {
  color: #171717;
}
.search-form_liveout button {
  color: #171717;
}
.search-form_liveout button:hover {
  background: #171717;
}

.search-frame h4 a:hover {
  color: #66BB6A;
}
.search-frame .search_list li:before {
  color: #171717;
}
.search-frame .search {
  color: #66BB6A;
}
.search-frame .match {
  color: #66BB6A;
}

/* style.scss
=========================================================*/
body {
  color: #959494;
}

h1, h2, h3, h4, h5, h6 {
  color: #171717;
}

.primary-color {
  color: #66BB6A;
}

.secondary-color {
  color: #171717;
}

* + .box {
  margin-top: 33px;
}

.brand {
  color: #fff;
}
.brand_img {
  border: 2px solid #fff;
}

.bg-primary {
  background: #66BB6A;
}

.bg-default {
  background: #fff;
}

.bg-secondary {
  background: url("/assets/frontend/bg-secondary.jpg") #3d3e3c repeat;
}
.bg-secondary h4 {
  color: #fff;
}
.bg-secondary .btn {
  border: 2px solid #fff;
}
.bg-secondary .btn:hover {
  background: #fff;
  color: #171717;
}
.bg-secondary .btn:active {
  background: #e6e6e6;
}

.bg-secondary_mod2 p {
  color: #fff;
}

.index-list li:before {
  border: 3px solid #66BB6A;
  color: #66BB6A;
}

.marked-list li a:before {
  background: #66BB6A;
}
.marked-list li a:hover:before {
  background: #4c4c4c;
}
.marked-list a:hover {
  color: #4c4c4c;
}

.terms-list dd > a:hover {
  color: #66BB6A;
}

.inline-list a:hover {
  color: #66BB6A;
}

.wr {
  border: 1px solid #ebebeb;
}
.wr h5 {
  color: #191919;
}
.wr .img_wr {
  border: 3px solid #66BB6A;
}
.wr hr {
  background: #dddddd;
}
.wr .fa-arrow-circle-o-right {
  color: #222222;
}
.wr:hover .img_wr {
  border-color: #ededed;
}
.wr:hover .fa-arrow-circle-o-right {
  color: #66BB6A;
}

.wr_mod1 .bg-default {
  border: 1px solid #ebebeb;
}
.wr_mod1 .bg-default .link_wr .price {
  color: #171717;
}

.wr_mod2 h5 span {
  color: #fff;
}
.wr_mod2:before {
  background: #66BB6A;
}
.wr_mod2 .link_wr .price {
  color: #171717;
}
.wr_mod2 .link_wr .price span {
  color: #7c7c7c;
}

.btn {
  background: #171717;
  color: #fff;
}
.btn:hover {
  background: #66BB6A;
  color: #171717;
}
.btn:active {
  background: #49a54e;
}

.box_aside .price {
  color: #171717;
}

header h1, header h2 {
  color: #fff;
}

footer {
  background: #191919;
}
footer h5, footer h1 {
  color: #fff;
}
footer .marked-list li:before {
  background: #636363;
}
footer .marked-list a:hover {
  color: #66BB6A;
}
footer a:hover {
  color: #66BB6A;
}
footer .border_wr:before {
  background: #343434;
}
